.box {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 225px;
  gap: 37px;
  margin-top: 90px;
}

input{
  padding: 15px;
  border-right: 0px;
  border-top: 0px;
  border-left: 3px solid;
  border-bottom: 3px solid;
}